<div class="card-content">
    <div class="card-row">
        <span class="card-label">Activities:</span>
        <span class="card-value">{{careers.activities}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Advancement:</span>
        <span class="card-value">{{careers.advancement}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Alternative Qualifications:</span>
        <span class="card-value">{{careers.alternativeQualifications}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Areas of Growth:</span>
        <span class="card-value">{{careers.areasGrowth}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Areas of Knowledge:</span>
        <span class="card-value">{{careers.areasKnowledge}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Assets:</span>
        <span class="card-value">{{careers.assets}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Personal Attributes:</span>
        <span class="card-value">{{careers.attributesPersonal}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Background:</span>
        <span class="card-value">{{careers.background}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Career Longevity:</span>
        <span class="card-value">{{careers.careerLongevity}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Career Reputation:</span>
        <span class="card-value">{{careers.careerReputation}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Challenges:</span>
        <span class="card-value">{{careers.challenges}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Constraints:</span>
        <span class="card-value">{{careers.constraints}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Credentials:</span>
        <span class="card-value">{{careers.credentials}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Decision Making:</span>
        <span class="card-value">{{careers.decisionMaking}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Descriptions:</span>
        <span class="card-value">{{careers.descriptions}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Effects:</span>
        <span class="card-value">{{careers.effects}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Entry Point:</span>
        <span class="card-value">{{careers.entryPoint}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Family Life:</span>
        <span class="card-value">{{careers.familyLife}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Frustrations:</span>
        <span class="card-value">{{careers.frustrations}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Important Industry People:</span>
        <span class="card-value">{{careers.importantIndustryPeople}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Interests:</span>
        <span class="card-value">{{careers.interests}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Key Skills:</span>
        <span class="card-value">{{careers.keySkills}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Professional Journals:</span>
        <span class="card-value">{{careers.professionalJournals}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Professional Organizations:</span>
        <span class="card-value">{{careers.professionalOrganizations}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Supervise:</span>
        <span class="card-value">{{careers.supervise}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Take Work Home:</span>
        <span class="card-value">{{careers.takeWorkHome}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Technology:</span>
        <span class="card-value">{{careers.technology}}</span>
    </div>
    <div class="card-row">
        <span class="card-label">Vacation:</span>
        <span class="card-value">{{careers.vacation}}</span>
    </div>
</div>
