<!-- <input
    type="hidden"
    filter-query-key="key"
    value="$user_id"
    filter-parent="#isadmin" />

<div
    filter-query-key="roles.$in"

    filter-query-value="652c8d62d31d27088bdd29fc"
    filter-next></div>

<input
    type="hidden"
    id="isadmin"
    array="keys"
    object
    key="key"
    input-parent
    input-attribute="admin"
    input-value="true"
    filter-limit="1" /> -->
<!-- <div
            id="isadmin"
            array="keys"
            object
            filter-limit="1"
            render-selector="[template]">
            <input
                input-closest="menu"
                input-attribute="admin"
                input-value="true"
                template />
        </div> -->

<h3 class="margin:50px_10px_5px">Admin</h3>

<li>
	<a
		actions="state"
		state_to="mainView"
		state-src="$relativePathadmin/users/datatable.html"
		click-closest="sidenav"
		click-attribute="style"
		click-value="width:0px"
		click-if="<=993px"
		click-if-value="$innerWidth"
		class="display:flex align-items:center">
		<span class="display:flex justify-content:center min-width:50px">
			<i src="$relativePathassets/svg/users.svg"></i>
		</span>
		<span>Users</span>
	</a>
	<div class="float:right width:50px text-align:center">
		<a
			actions="state"
			state_to="mainView"
			state-src="$relativePathadmin/users/form.html"
			click-closest="sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:flex justify-content:center align-items:center height:40px">
			<i src="$relativePathassets/svg/plus.svg"></i>
		</a>
	</div>
</li>
<li>
	<a
		actions="state"
		state_to="mainView"
		state-src="$relativePathadmin/organizations/datatable.html"
		click-closest="sidenav"
		click-attribute="style"
		click-value="width:0px"
		click-if="<=993px"
		click-if-value="$innerWidth"
		class="display:flex align-items:center">
		<span class="display:flex justify-content:center min-width:50px">
			<i src="$relativePathassets/svg/people-roof.svg"></i>
		</span>
		<span>Organizations</span>
	</a>
	<div class="float:right width:50px text-align:center">
		<a
			actions="state"
			state_to="mainView"
			state-src="$relativePathadmin/organizations/form.html"
			click-closest="sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:flex justify-content:center align-items:center height:40px">
			<i src="$relativePathassets/svg/plus.svg"></i>
		</a>
	</div>
</li>
<li>
	<a
		actions="state"
		state_to="mainView"
		state-src="$relativePathadmin/payments/datatable.html"
		click-closest="sidenav"
		click-attribute="style"
		click-value="width:0px"
		click-if="<=993px"
		click-if-value="$innerWidth"
		class="display:flex align-items:center">
		<span class="display:flex justify-content:center min-width:50px">
			<i src="$relativePathassets/svg/credit-card.svg"></i>
		</span>
		<span>Payments</span>
	</a>
	<div class="float:right width:50px text-align:center">
		<a
			actions="state"
			state_to="mainView"
			state-src="$relativePathadmin/payments/form.html"
			click-closest="sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:flex justify-content:center align-items:center height:40px">
			<i src="$relativePathassets/svg/plus.svg"></i>
		</a>
	</div>
</li>
<li>
	<a
		actions="state"
		state_to="mainView"
		state-src="$relativePathadmin/payouts/datatable.html"
		click-closest="sidenav"
		click-attribute="style"
		click-value="width:0px"
		click-if="<=993px"
		click-if-value="$innerWidth"
		class="display:flex align-items:center">
		<span class="display:flex justify-content:center min-width:50px">
			<i src="$relativePathassets/svg/hand-holding-dollar.svg"></i>
		</span>
		<span>Payouts</span>
	</a>
	<div class="float:right width:50px text-align:center">
		<a
			actions="state"
			state_to="mainView"
			state-src="$relativePathadmin/payouts/form.html"
			click-closest="sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:flex justify-content:center align-items:center height:40px">
			<i src="$relativePathassets/svg/plus.svg"></i>
		</a>
	</div>
</li>
<li>
	<a
		actions="state"
		state_to="mainView"
		state-src="$relativePathadmin/blog/datatable.html"
		click-closest="sidenav"
		click-attribute="style"
		click-value="width:0px"
		click-if="<=993px"
		click-if-value="$innerWidth"
		class="display:flex align-items:center">
		<span class="display:flex justify-content:center min-width:50px">
			<i src="$relativePathassets/svg/blog.svg"></i>
		</span>
		<span>Blog Posts</span>
	</a>
	<div class="float:right width:50px text-align:center">
		<a
			actions="state"
			state_to="mainView"
			state-src="$relativePathadmin/blog/form.html"
			click-closest="sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:flex justify-content:center align-items:center height:40px">
			<i src="$relativePathassets/svg/plus.svg"></i>
		</a>
	</div>
</li>
<li>
	<a
		actions="state"
		state_to="mainView"
		state-src="$relativePathadmin/social/index.html"
		click-closest="sidenav"
		click-attribute="style"
		click-value="width:0px"
		click-if="<=993px"
		click-if-value="$innerWidth"
		class="display:flex align-items:center">
		<span class="display:flex justify-content:center min-width:50px">
			<i src="$relativePathassets/svg/share-from-square.svg"></i>
		</span>
		<span>Social Posts</span>
	</a>
	<div class="float:right width:50px text-align:center">
		<a
			actions="state"
			state_to="mainView"
			state-src="$relativePathadmin/social/form.html"
			click-closest="sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:flex justify-content:center align-items:center height:40px">
			<i src="$relativePathassets/svg/plus.svg"></i>
		</a>
	</div>
</li>
<li>
	<a
		actions="state"
		state_to="mainView"
		state-src="$relativePathadmin/questions/datatable.html"
		click-closest="sidenav"
		click-attribute="style"
		click-value="width:0px"
		click-if="<=993px"
		click-if-value="$innerWidth"
		class="display:flex align-items:center">
		<span class="display:flex justify-content:center min-width:50px">
			<i src="$relativePathassets/svg/circle-question.svg"></i>
		</span>
		<span>Questions</span>
	</a>
	<div class="float:right width:50px text-align:center">
		<a
			actions="state"
			state_to="mainView"
			state-src="$relativePathadmin/questions/form.html"
			click-closest="sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:flex justify-content:center align-items:center height:40px">
			<i src="$relativePathassets/svg/plus.svg"></i>
		</a>
	</div>
</li>
<li>
	<a
		actions="state"
		state_to="mainView"
		state-src="$relativePathadmin/careers/datatable.html"
		click-closest="sidenav"
		click-attribute="style"
		click-value="width:0px"
		click-if="<=993px"
		click-if-value="$innerWidth"
		class="display:flex align-items:center">
		<span class="display:flex justify-content:center min-width:50px">
			<i src="$relativePathassets/svg/person-dots-from-line.svg"></i>
		</span>
		<span>Careers</span>
	</a>
	<div class="float:right width:50px text-align:center">
		<a
			actions="state"
			state_to="mainView"
			state-src="$relativePathadmin/careers/form.html"
			click-closest="sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:flex justify-content:center align-items:center height:40px">
			<i src="$relativePathassets/svg/plus.svg"></i>
		</a>
	</div>
</li>
<li>
	<a
		actions="state"
		state_to="mainView"
		state-src="$relativePathadmin/subscriptions/datatable.html"
		click-closest="sidenav"
		click-attribute="style"
		click-value="width:0px"
		click-if="<=993px"
		click-if-value="$innerWidth"
		class="display:flex align-items:center">
		<span class="display:flex justify-content:center min-width:50px">
			<i src="$relativePathassets/svg/money-bill-wave.svg"></i>
		</span>
		<span>Subscriptions</span>
	</a>
	<div class="float:right width:50px text-align:center">
		<a
			actions="state"
			state_to="mainView"
			state-src="$relativePathadmin/subscriptions/form.html"
			click-closest="sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:flex justify-content:center align-items:center height:40px">
			<i src="$relativePathassets/svg/plus.svg"></i>
		</a>
	</div>
</li>
<li>
	<a
		actions="state"
		state_to="mainView"
		state-src="$relativePathadmin/advertisements/datatable.html"
		click-closest="sidenav"
		click-attribute="style"
		click-value="width:0px"
		click-if="<=993px"
		click-if-value="$innerWidth"
		class="display:flex align-items:center">
		<span class="display:flex justify-content:center min-width:50px">
			<i src="$relativePathassets/svg/rectangle-ad.svg"></i>
		</span>
		<span>Advertisements</span>
	</a>

	<div class="float:right width:50px text-align:center">
		<a
			actions="state"
			state_to="mainView"
			state-src="$relativePathadmin/advertisements/form.html"
			click-closest="sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:flex justify-content:center align-items:center height:40px">
			<i src="$relativePathassets/svg/plus.svg"></i>
		</a>
	</div>
</li>

<li>
	<a
		actions="state"
		state_to="mainView"
		state-src="$relativePathadmin/ai/datatable.html"
		click-closest="sidenav"
		click-attribute="style"
		click-value="width:0px"
		click-if="<=993px"
		click-if-value="$innerWidth"
		class="display:flex align-items:center">
		<span class="display:flex justify-content:center min-width:50px">
			<i src="$relativePathassets/svg/brain.svg"></i>
		</span>
		<span>AI Settings</span>
	</a>

	<div class="float:right width:50px text-align:center">
		<a
			actions="state"
			state_to="mainView"
			state-src="$relativePathadmin/ai/form.html"
			click-closest="sidenav"
			click-attribute="style"
			click-value="width:0px"
			click-if="<=993px"
			click-if-value="$innerWidth"
			class="display:flex justify-content:center align-items:center height:40px">
			<i src="$relativePathassets/svg/plus.svg"></i>
		</a>
	</div>
</li>
