<!DOCTYPE html>
<div
    class="display:flex justify-content:space-between align-items:center font-size:20px width:100%">
    <a actions="state" state_to="mainView" state-src="$back"
        ><i src="../../assets/svg/angle-left.svg"></i
    ></a>
    <div
        class="display:flex align-items:center transition:0.3s"
        hover-selector=".options"
        hover-attribute="class"
        hover-value="display:flex!important">
        <div class="display:none options">
            <div
                actions="delete"
                delete-selector="document; tbody[array]"
                class="padding:0px_10px">
                <i src="../../assets/svg/trash-alt.svg"></i>
            </div>
            <!-- <div
                actions="export"
                export-selector="document; tbody[array]"
                export-type="csv"
                class="padding:0px_10px">
                <i src="../../assets/svg/file-csv.svg"></i>
            </div>
            <div
                actions="export"
                export-selector="document; tbody[array]"
                class="padding:0px_10px">
                <i src="../../assets/svg/file-download.svg"></i>
            </div>
            <div actions="import" array="users" class="padding:0px_10px">
                <i src="../../assets/svg/file-upload.svg"></i>
            </div>
            <div actions="copy" copy-selector="tbody" class="padding:0px_10px">
                <i src="../../assets/svg/copy.svg"></i>
            </div>
            <div
                actions="print"
                print-closest="nav; parent; tbody"
                class="padding:0px_10px">
                <i src="../../assets/svg/print.svg"></i>
            </div> -->
        </div>
        <div class="padding-left:10px">
            <i
                class="width:8px display:block"
                src="../../assets/svg/ellipsis-v.svg"></i>
        </div>
    </div>
</div>
