<!DOCTYPE html>
<div
	class="display:flex justify-content:space-between align-items:center font-size:20px width:100%">
	<div class="display:flex align-items:center gap:10px">
		<!-- <a actions="state" state_to="mainView" state-src="$back"
			><i src="../assets/svg/angle-left.svg"></i
		></a> -->
		<input
			type="checkbox"
			class="height:16px width:16px margin-left:14px"
			input-attribute="class"
			input-value="selected"
			input-selector="document; tbody[array] [render-clone][] " />
	</div>

	<div class="display:flex align-items:center gap:15px">
		<div
			class="display:flex align-items:center transition:0.3s"
			hover-selector=".options"
			hover-attribute="class"
			hover-value="display:flex!important">
			<div class="display:none gap:15px options">
				<!-- <a
					actions="delete"
					delete-selector="document; tbody[array]"
					>
					<i src="../assets/svg/trash-alt.svg"></i>
				</a> -->
				<a
					actions="export"
					export-selector="document; tbody[array]"
					export-type="csv">
					<i src="../assets/svg/file-csv.svg"></i>
				</a>
				<a actions="export" export-selector="document; tbody[array]">
					<i src="../assets/svg/file-download.svg"></i>
				</a>
				<a actions="import" array="users">
					<i src="../assets/svg/file-upload.svg"></i>
				</a>
				<a actions="copy" copy-selector="tbody">
					<i src="../assets/svg/copy.svg"></i>
				</a>
				<a actions="print" print-closest="nav; parent; tbody">
					<i src="../assets/svg/print.svg"></i>
				</a>
			</div>
			<a class="padding-left:10px">
				<i src="../assets/svg/ellipsis.svg"></i>
			</a>
		</div>
		<a actions="delete" delete-selector="document; tbody[array]">
			<i src="../assets/svg/trash-alt.svg"></i>
		</a>
		<button
			class="round width:30px height:30px"
			title="Add New Item"
			actions="state"
			state_to="main"
			state-src="{{path}}">
			<i src="../assets/svg/plus.svg"></i>
			<div state_to="form-fields" state-object=""></div>
		</button>
	</div>
</div>
