			<!-- Search By a Post -->
			<div class="margin-bottom:60px padding:10px">
				<form>
					<div class="border-bottom:3px_solid_dodgerblue">
						<span class="background:dodgerblue font-weight:500 color:#fff font-size:16px padding:5px_30px_2px_30px letter-spacing:1.3px">Search</span>
					</div>
					<div class="padding:10px margin-top:20px">
						<input class="floating-label" template_id="filter_test" placeholder="Search a Post" filter-name="category_order" >
					</div>
				</form>
			</div>
			
			<!-- Stay Connected -->
			<div class="margin-bottom:60px padding:10px">
				<form>
					<div class="border-bottom:3px_solid_dodgerblue">
					   <span class="background:dodgerblue font-weight:500 color:#fff font-size:16px padding:5px_30px_2px_30px letter-spacing:1.3px">Stay Connected</span>
					</div>
					<div class="padding:10px margin-top:20px">
					  
						<div class="background:#3C5A99 padding:9px_10px margin-bottom:10px display:flex cursor:pointer background:#222:hover transition:0.3s">
							<span class="color:#fff margin-top:2px padding-right:10px border-right:1px_solid_#aaa font-size:16px">
								<i class="fab fa-facebook-f"></i>
							</span>
							<span class="color:#fff font-size:12px margin-top:3px margin-left:10px">12345</span>
							<span class="color:#fff font-size:12px margin-top:3px margin-left:10px">Fans</span>
							<span class="color:#fff font-size:12px margin-top:3px margin-left:auto font-size:11px@lg width:20% padding-left:10px border-left:1px_solid_#aaa">LIKE</span>
						</div>
					  
						<div class="background:#55ADEE padding:9px_10px margin-bottom:10px display:flex cursor:pointer background:#222:hover transition:0.3s">
							<span class="color:#fff margin-top:2px padding-right:10px border-right:1px_solid_#aaa font-size:16px">
								<i class="fab fa-twitter"></i>
							</span>
							<span class="color:#fff font-size:12px margin-top:3px margin-left:10px">3190 </span>
							<span class="color:#fff font-size:12px margin-top:3px margin-left:10px">Fans</span>
							<span class="color:#fff font-size:11px margin-top:3px margin-left:auto font-size:10px@lg width:25% padding-left:10px border-left:1px_solid_#aaa">TWIT</span>
						</div>
						
						<div class="background:#FF0000 padding:9px_10px display:flex cursor:pointer background:#222:hover transition:0.3s">
							<span class="color:#fff margin-top:2px padding-right:10px border-right:1px_solid_#aaa font-size:16px">
								<i class="fab fa-youtube"></i>
							</span>
							<span class="color:#fff font-size:12px margin-top:3px margin-left:10px">30000 </span>
							<span class="color:#fff font-size:12px margin-top:3px margin-left:10px">Fans</span>
							<span class="color:#fff font-size:12px margin-top:3px margin-left:auto font-size:11px@lg width:20% padding-left:10px border-left:1px_solid_#aaa">SUB</span>
						</div>
					</div>
				</form>
			</div>
	
			<!-- Popular -->
			<div class="margin-bottom:60px padding:10px">
				<div class="border-bottom:3px_solid_dodgerblue">
				   <span class="background:dodgerblue font-weight:500 color:#fff font-size:16px padding:5px_30px_2px_30px letter-spacing:1.3px">Popular Posts</span>
				</div>
				
				<!-- Fetch and Render Popular -->
				<div fetch-collection="module_activities" fetch-count="4" order-by="name" order-type="asc" template_id="popular" class="padding:10px margin-top:20px">
					
					<!-- Popular Template -->
					<div class="template margin-bottom:15px display:flex justify-content:space-between" template_id="popular">
						<div class="flex-basis:25%">
							<img class="width:100% height:60px" src="images/blog/g1.jpg" />
						</div>
						<div class="flex-basis:70%">
							<a class="text-align:justify font-size:12px font-family:arial line-height:24px" href="#">Most inspirational movie you have ever seen?</a>
						</div>
					</div>
				  
				</div>
				
			</div>
	
			<!-- Category Filters -->
			<div class="margin-bottom:60px padding:10px">
				<form template_id="filter_test">
					<div class="border-bottom:3px_solid_dodgerblue">
					   <span class="background:dodgerblue font-weight:500 color:#fff font-size:16px padding:5px_30px_2px_30px letter-spacing:1.3px">Categories</span>
					</div>
					<div class="padding:10px">
						<h3 class="color:#222 margin-bottom:20px margin-top:20px">Browse Categories</h3>
						<a href="#" class="margin-bottom:15px" name="category_order" order-by="category" value="asc" id="category_order_asc"><i class="margin-right:5px font-size:14px fas fa-chevron-right"></i>Uncategorized</a><br>
						<div class="border-bottom:1px_solid_#eee margin-top:5px margin-bottom:10px"></div>
						<a href="#" class="margin-bottom:15px" name="category_order" order-by="category" value="asc" id="category_order_asc"><i class="margin-right:5px font-size:14px fas fa-chevron-right"></i>General</a><br>
						<div class="border-bottom:1px_solid_#eee margin-top:5px margin-bottom:10px"></div>
						<a href="#" class="margin-bottom:15px" name="category_order" order-by="category" value="asc" id="category_order_asc"><i class="margin-right:5px font-size:14px fas fa-chevron-right"></i>videos</a><br>
						<div class="border-bottom:1px_solid_#eee margin-top:5px margin-bottom:10px"></div>
						<a href="#" class="margin-bottom:15px" name="category_order" order-by="category" value="asc" id="category_order_asc"><i class="margin-right:5px font-size:14px fas fa-chevron-right"></i>Tech</a><br>
						<div class="border-bottom:1px_solid_#eee margin-top:5px margin-bottom:10px"></div>
						<a href="#" class="margin-bottom:15px" name="category_order" order-by="category" value="asc" id="category_order_asc"><i class="margin-right:5px font-size:14px fas fa-chevron-right"></i>Gaming</a><br>
						<div class="border-bottom:1px_solid_#eee margin-top:5px margin-bottom:10px"></div>
						<a href="#" class="margin-bottom:15px" name="category_order" order-by="category" value="asc" id="category_order_asc"><i class="margin-right:5px font-size:14px fas fa-chevron-right"></i>School</a><br>
						<div class="border-bottom:1px_solid_#eee margin-top:5px margin-bottom:10px"></div>
					</div>
				
					<input class="floating-label" template_id="filter_test" placeholder="Search Category" filter-name="category_order" >
				</form>
			</div>
			
			<!-- Sorting Filters -->
			<div class="margin-bottom:60px padding:10px">
				<form template_id="filter_test">
					<div class="border-bottom:3px_solid_dodgerblue">
						<span class="background:dodgerblue font-weight:500 color:#fff font-size:16px padding:5px_30px_2px_30px letter-spacing:1.3px">Sort By</span>
					</div>
					<div class="padding:10px">
						<h3 class="color:#222 margin-bottom:20px margin-top:20px">Sort By Name</h3>
						<input class="" type="radio" name="name_order" order-by="name" value="none"><label class="color:#222 margin-bottom:10px margin-left:5px">None</label><br>
						<div class="border-bottom:1px_solid_#eee margin-top:5px margin-bottom:10px"></div>
						<input class="" type="radio" name="name_order" order-by="name" value="asc" ><label class="color:#222 margin-bottom:10px margin-left:5px">Order by ASC</label><br>
						<div class="border-bottom:1px_solid_#eee margin-top:5px margin-bottom:10px"></div>
						<input class="" type="radio" name="name_order" order-by="name" value="desc"><label class="color:#222 margin-bottom:10px margin-left:5px">Order by DESC</label><br>
						<div class="border-bottom:1px_solid_#eee margin-top:5px margin-bottom:10px"></div>
						
						<input class="floating-label margin-top:35px margin-bottom:20px" template_id="filter_test" placeholder="Search By Name">
						
						<h3 class="color:#222 margin-bottom:20px margin-top:30px">Sort By Popularity</h3>
						<select class="width:100% padding:7px_10px" order-by="price" placeholder="Select">
							<option value="none">None</option>
							<option value="asc">ASC</option>
							<option value="desc">DESC</option>
						</select>
					</div>
				</form>
			</div>
			
			<div resize="right"></div>
