<h2 class="font-size:2rem">SPREAD THE WORD!</h2>

<div
	class="display:flex justify-content:center font-size:22px margin-bottom:25px">
	<!-- Social Share -->
	<a
		href="https://twitter.com/CoCreate_App"
		target="_blank"
		class="margin:15px">
		<i src="$relativePathassets/svg/twitter.svg"></i>
	</a>
	<a
		href="https://www.facebook.com/CoCreate.apps/"
		target="_blank"
		class="margin:15px">
		<i src="$relativePathassets/svg/facebook.svg"></i>
	</a>
	<a
		href="https://www.instagram.com/cocreateai/"
		target="_blank"
		class="margin:15px">
		<i src="$relativePathassets/svg/instagram.svg"></i>
	</a>
	<a
		href="https://www.linkedin.com/company/cocreate-app/"
		target="_blank"
		class="margin:15px">
		<i src="$relativePathassets/svg/linkedin-in.svg"></i>
	</a>
	<i
		src="$relativePathassets/svg/share-alt.svg"
		class="margin:15px"
		share></i>
</div>
<p>
	<a href="$relativePathprivacy.html"> Privacy </a> |
	<a href="$relativePathterms.html"> Terms </a> |
	<a href="$relativePathlicense.html"> Licence </a> |
	<a href="$relativePathrefunds.html"> Refunds </a>
</p>
<p>2023 All Right Reserved</p>
<p>
	<a href="#">CoCreate LLC</a>
</p>
