<div
    class="position:relative padding:100px_0px color:white background-color:dodgerblue opacity:0.9">
    <h1 class="text-align:center">SPREAD THE WORD!</h1>

    <div
        class="margin:20px_30px padding-bottom:20px font-size:21px border-bottom:1px_solid_white">
        <!-- Social Share -->
        <div
            class="display:flex justify-content:center"
            share-height="600"
            share-width="500"
            share-media="https://via.placeholder.com/300/09f/fff.png">
            <a
                href="https://twitter.com/CoCreate_App"
                target="_blank"
                class="margin:15px">
                <i
                    class="display:flex height:20px fill:#fff"
                    src="./assets/svg/twitter.svg"></i>
            </a>
            <a
                href="https://www.facebook.com/CoCreate.apps/"
                target="_blank"
                class="margin:15px">
                <i
                    class="display:flex height:20px fill:#fff"
                    src="./assets/svg/facebook.svg"></i>
            </a>
            <a
                href="https://www.instagram.com/cocreate_app/"
                target="_blank"
                class="margin:15px">
                <i
                    class="display:flex height:20px fill:#fff"
                    src="./assets/svg/instagram.svg"></i>
            </a>
            <a
                href="https://www.linkedin.com/company/cocreate-app/"
                target="_blank"
                class="margin:15px">
                <i
                    class="display:flex height:20px fill:#fff"
                    src="./assets/svg/linkedin-in.svg"></i>
            </a>
            <a
                href="https://www.pinterest.com/cocreate-app/"
                target="_blank"
                class="margin:15px">
                <i
                    class="display:flex height:20px fill:#505050"
                    src="./assets/svg/pinterest-p.svg"></i>
            </a>
        </div>
    </div>

    <p class="text-align:center">2022 All Right Reserved</p>
    <p class="text-align:center">
        <a class="color:white" href="#">CoCreate LLC</a>
    </p>
</div>
