<!DOCTYPE html>

<!-- Menu Icon -->
<a
    class="display:none@md@lg@xl"
    toggle="width:300px,"
    toggle-selector="document; #menuL"
    toggle-attribute="style"
    menu-icon>
    <span></span>
    <span></span>
    <span></span>
</a>

<!-- Logo -->
<a
    href="{{path}}"
    class="display:flex align-items:center gap:10px font-size:28px font-weight:bold">
    <img src="{{path}}assets/icon.png" height="50px" alt="icon logo" />
    <span class="display:none@xs@sm@md"
        >Co<span class="color:#1e90ff">Create</span></span
    >
</a>

<!-- Navigation -->
<div
    class="display:flex align-items:center display:none@xs@sm overflow:auto width:100% margin-left:20px font-size:20px">
    <!-- <a class="margin-right:25px color:dodgerblue:hover" selected-value="show" selected-selector="#products">Products</a>
				<a class="margin-right:25px color:dodgerblue:hover" toggle="display:block,display:none" toggle-selector="#products">Products</a>
				<ul id="products" class="card position:absolute padding:10px list-style:none top:50px background:white display:none">
					<li class="padding:5px">
						<a href="{{path}}business-builder" class="color:dodgerblue:hover">
							<p class="font-weight:600">CoCreate</p>
							<p class="font-size:14px">Business Building Platform</p>
						</a>
					</li>
					<li class="padding:5px">
						<a href="{{path}}" class="color:dodgerblue:hover">
							<p class="font-weight:600">CoCreateJS</p>
							<p class="font-size:14px">Collaborative Low Code Framework</p>
						</a>
					</li>
					<li class="padding:5px">
						<a href="{{path}}css" class="color:dodgerblue:hover">
							<p class="font-weight:600">CoCreateCSS</p>
							<p class="font-size:14px">Atomic CSS Framework</p>
						</a>
					</li>
				</ul> -->

    <a href="#pricing" class="margin-right:25px color:dodgerblue:hover"
        >Pricing</a
    >
    <a href="{{path}}blog/" class="margin-right:25px color:dodgerblue:hover"
        >Blog</a
    >
    <a href="{{path}}docs/" class="margin-right:25px color:dodgerblue:hover"
        >Docs</a
    >
    <!-- <a href="{{path}}blog/" class="margin-right:25px color:dodgerblue:hover">Blog</a>
				<a href="{{path}}discuss/" class="margin-right:25px color:dodgerblue:hover">Discuss</a>
				<a href="{{path}}university/" class="margin-right:25px color:dodgerblue:hover">University</a> -->
</div>

<div
    class="display:flex direction:rtl overflow:auto align-items:center gap:15px width:320px width:100%@xs@sm font-size:20px">
    <!-- fullscreen -->
    <a fullscreen>
        <i src="../assets/svg/expand.svg"></i>
        <i src="../assets/svg/compress.svg"></i>
    </a>

    <!-- Social Media -->
    <!-- <div class="display:flex align-items:center gap:15px font-size:20px"> -->
    <a href="https://github.com/CoCreate-app" target="_blank">
        <i src="{{path}}assets/svg/github.svg"></i>
    </a>
    <a href="https://twitter.com/CoCreate_App" target="_blank">
        <i src="{{path}}assets/svg/twitter.svg"></i>
    </a>
    <a href="https://www.facebook.com/CoCreate.apps" target="_blank">
        <i src="{{path}}assets/svg/facebook.svg"></i>
    </a>
    <a href="https://www.instagram.com/cocreate_app/" target="_blank">
        <i src="{{path}}assets/svg/instagram.svg"></i>
    </a>
    <!-- </div> -->
</div>

<style>
    .avatar .signin[session="off"] {
        display: none;
    }
</style>
<!-- Avatar -->
<div class="avatar round">
    <div array="users" object="$user_id" key="firstname" class="avatar-name">
        <i class="height:20px" src="{{path}}assets/svg/sign-in-alt.svg"></i>
    </div>
    <div class="avatar-image">
        <img
            array="users"
            object="$user_id"
            key="avatar[0].src"
            onerror="this.style.display='none'" />
        <div>
            <a href="{{path}}account/signin.html"> </a>
        </div>
        <a
            href="{{path}}account/"
            state_to="main"
            state-src="{{path}}profile/"
            class="signin"
            session>
        </a>
    </div>
    <div
        class="avatar-status"
        array="users"
        object="$user_id"
        user-status="{'name':'status'}"></div>
</div>
