<!-- Menu Icon -->
<a
	class="display:none@md@lg@xl"
	toggle="width:300px,"
	toggle-selector="document; #menuL"
	toggle-attribute="style"
	menu-icon>
	<span></span>
	<span></span>
	<span></span>
</a>

<!-- Logo -->
<a
	href="{{path}}"
	class="display:flex align-items:center gap:10px font-size:28px font-weight:bold">
	<img src="{{path}}assets/icon.png" height="50px" alt="icon logo" />
	<span class="display:none@xs@sm@md"
		>Co<span class="color:#1e90ff">Create</span></span
	>
</a>

<!-- Navigation -->
<div
	class="display:flex align-items:center gap:25px display:none@xs@sm overflow:auto width:100% margin-left:25px font-size:20px">
	<!-- <a
		class="margin-right:25px color:dodgerblue:hover"
		toggle-attribute="hidden"
		toggle-value=""
		toggle-selector="#products"
		>Products</a
	>
	<ul
		id="products"
		class="card position:absolute padding:10px list-style:none top:50px background:white display:none">
		<li class="padding:5px">
			<a href="{{path}}business-builder" class="color:dodgerblue:hover">
				<p class="font-weight:600">CoCreate</p>
				<p class="font-size:14px">Business Building Platform</p>
			</a>
		</li>
		<li class="padding:5px">
			<a href="{{path}}" class="color:dodgerblue:hover">
				<p class="font-weight:600">CoCreateJS</p>
				<p class="font-size:14px">Collaborative Low Code Framework</p>
			</a>
		</li>
		<li class="padding:5px">
			<a href="{{path}}css" class="color:dodgerblue:hover">
				<p class="font-weight:600">CoCreateCSS</p>
				<p class="font-size:14px">Atomic CSS Framework</p>
			</a>
		</li>
	</ul> -->

	<a href="{{path}}demos/" class="color:dodgerblue:hover">Demos</a>
	<a href="{{path}}#pricing" class="color:dodgerblue:hover">Pricing</a>
	<a href="{{path}}docs/" class="color:dodgerblue:hover">Docs</a>
	<a href="{{path}}blog/" class="color:dodgerblue:hover">Blog</a>
	<!-- <a href="{{path}}discuss/" class="color:dodgerblue:hover"
		>Discuss</a
	> -->
	<!-- <a
		href="{{path}}university/"
		class="color:dodgerblue:hover"
		>University</a
	> -->
</div>

<div
	class="display:flex direction:rtl align-items:center gap:15px width:100%@xs@sm font-size:20px">
	<!-- fullscreen -->
	<a fullscreen>
		<i src="{{path}}assets/svg/expand.svg"></i>
		<i src="{{path}}assets/svg/compress.svg"></i>
	</a>

	<!-- Social Media -->
	<a href="https://github.com/CoCreate-app" target="_blank">
		<i src="{{path}}assets/svg/github.svg"></i>
	</a>
	<a href="https://twitter.com/CoCreate_App" target="_blank">
		<i src="{{path}}assets/svg/twitter.svg"></i>
	</a>
	<a href="https://www.facebook.com/CoCreate.apps" target="_blank">
		<i src="{{path}}assets/svg/facebook.svg"></i>
	</a>
	<a href="https://www.instagram.com/cocreateai/" target="_blank">
		<i src="{{path}}assets/svg/instagram.svg"></i>
	</a>
	<a share>
		<i src="{{path}}assets/svg/share-alt.svg"></i>
	</a>
</div>

<style>
	.avatar .signin[session="off"] {
		display: none;
	}
</style>

<!-- Avatar -->
<div class="avatar round">
	<div array="users" object="$user_id" key="firstname" class="avatar-name">
		<i src="{{path}}assets/svg/sign-in-alt.svg"></i>
	</div>
	<div class="avatar-image">
		<img
			array="users"
			object="$user_id"
			key="avatar[0].src"
			onerror="this.style.display='none'" />
		<div>
			<a href="{{path}}account/signin.html"> </a>
		</div>
		<a
			class="signin"
			toggle="dropdown"
			toggle-closest="nav #profile-dropdown"
			toggle-attribute="hidden"
			toggle-value=""
			session>
		</a>
	</div>
	<div
		class="avatar-status"
		array="users"
		object="$user_id"
		user-status="{'name':'status'}"></div>
</div>

<div
	id="profile-dropdown"
	class="display:flex flex-direction:column gap:15px position:absolute top:70px right:15px width:125px overflow:auto font-size:16px background:white background:#222@dark border:1px-solid-#ccc border-radius:5px padding:15px"
	hidden>
	<a
		actions="state"
		state-src="{{path}}profile/index.html"
		state_to="main"
		href="{{path}}account/"
		click-parent
		click-attribute="hidden"
		click-value=""
		class="display:flex align-items:center gap:10px">
		<i src="{{path}}assets/svg/user.svg"></i>
		<span>Profile</span>
	</a>
	<a
		actions="signOut"
		href="{{path}}account/signin.html"
		class="display:flex align-items:center gap:10px">
		<i src="{{path}}assets/svg/sign-out-alt.svg"></i>
		<span>Sign Out</span>
	</a>
</div>
