<!DOCTYPE html>
<!-- Logo -->
<a href="{{path}}" class="display:block padding:13px background:gainsboro">
    <img src="{{path}}assets/logo.png" height="40px" />
</a>

<!-- Search -->
<form class="padding:5px">
    <floating-label class="margin-top:0px">
        <input type="text" class="floating-label" state_to="results" />
    </floating-label>
    <span
        class="position:relative bottom:28px right:14px float:right font-size:18px">
        <a
            actions="state, openModal"
            state_to="render"
            array="website-pages"
            object=""
            state-key="src"
            modal-width="900px"
            modal-color="#229954">
            <i
                class="height:20px fill:#505050"
                src="{{path}}assets/svg/search.svg"></i>
        </a>
    </span>
</form>

<!-- Navigation -->
<div class="color:#212121 text-transform:uppercase">
    <!-- <a href="{{path}}js/" class="display:block color:dodgerblue:hover padding:12px_24px">JS</a>
				<a href="{{path}}css/" class="display:block color:dodgerblue:hover padding:12px_24px">CSS</a> -->
    <a
        href="{{path}}docs/"
        class="display:block color:dodgerblue:hover padding:12px_24px"
        >Docs</a
    >
    <!-- <a href="{{path}}blog/" class="display:block color:dodgerblue:hover padding:12px_24px">Blog</a>
				<a href="{{path}}discuss/" class="display:block color:dodgerblue:hover padding:12px_24px">Discuss</a>
				<a href="{{path}}university/" class="display:block color:dodgerblue:hover padding:12px_24px">University</a> -->
</div>

<div resize="right"></div>
