			<!-- Logo -->
			<a href="/" class="display:block padding:13px background:gainsboro">
				<img src="assets/logo.png" height="40px" />
			</a>

			<!-- Search -->
			<form class="padding:5px">
				<input type="text" class="floating-label" data-pass_value_to="results">
				<span class="passValueBtn position:relative bottom:28px right:14px float:right font-size:18px">
					<a target="modal" data-pass_to="render" data-collection="website-pages" data-document_id="" data-pass_name="html" data-modal_width="900px" data-modal_color="#229954">
						<i class="fas fa-search"></i>
					</a>
				</span>
			</form>

			<!-- Navigation -->
			<div class="color:#212121 text-transform:uppercase">
				<a href="/#features" class="display:block color:dodgerblue:hover padding:12px_24px">Features</a>
				<a href="/docs/" class="display:block color:dodgerblue:hover padding:12px_24px">Docs</a>
				<a href="/blog" class="display:block color:dodgerblue:hover padding:12px_24px">Blog</a>
				<a href="/discuss" class="display:block color:dodgerblue:hover padding:12px_24px">Discuss</a>
				<a href="/university" class="display:block color:dodgerblue:hover padding:12px_24px">University</a>
			</div>

			<div class="resizeHandler"></div>
