*{padding:0px; margin:0px;}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  
body {
  background-color: #fff;
  font-family: 'Rubik, Open Sans', sans-serif;
  font-size: 1rem;
  color: #505050;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}
  
a {
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  color: inherit;
}

footer:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, #008dd5, #008dd5 100%);
    background: linear-gradient(to top, #008dd5 0%, #008dd5 100%);
    opacity: 0.95;
}

footer p {
    color: white;
}

.show[selected]{
  display:block!important;
}

