*{padding:0px; margin:0px;}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
  
body {
  background-color: #fff;
  font-family: 'Rubik, Open Sans', sans-serif;
  font-size: 1rem;
  color: #505050;
  fill: #505050;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

svg {
    height: inherit;
    width: inherit;
    fill: inherit;
    stroke: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
}
  
a {
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  color: inherit;
}

button {
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease,
        border 0.3s ease;
    border: 2px solid #1f99ff;
    background-color: #f0f0f0;
    color: #1f99ff;
    fill: #1f99ff;
    border-radius: 8px;
}

button:hover {
    background-color: #1f99ff;
    color: #fff;
    fill: #fff;
}

footer p {
    color: white;
    fill: white;
}

.show[selected]{
  display:block!important;
}

nav {
    z-index: 7;
    will-change: transform;
    transition: background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s;
    transition: transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1), background 0.3s, -webkit-transform 0.5s cubic-bezier(0.694, 0.048, 0.335, 1);
    transform: translateY(0);
    -webkit-transform: translateY(0);
}

